<?xml version="1.0"?>
<ruleset name="Yoast SEO">
    <description>Yoast SEO rules for PHP_CodeSniffer</description>

    <file>.</file>

<!--    <exclude-pattern>tests/*</exclude-pattern>-->
    <exclude-pattern>vendor/*</exclude-pattern>
    <exclude-pattern>node_modules/*</exclude-pattern>
<!--    <exclude-pattern>deprecated/*</exclude-pattern>-->
    <exclude-pattern>languages/*</exclude-pattern>

    <arg name="extensions" value="php"/>
    <arg value="sp"/>

    <rule ref="Yoast">
<!-- TODO JRF: test with the below two enabled. -->
        <exclude name="WordPress.WP.PreparedSQL.NotPrepared"/><!-- TODO audit raw queries -->
        <exclude name="WordPress.Functions.DontExtract" /><!-- TODO audit usage & replace -->
    </rule>

    <rule ref="WordPress.WP.EnqueuedResources.NonEnqueuedScript">
        <exclude-pattern>css/xml-sitemap-xsl\.php</exclude-pattern>
    </rule>

    <!-- Verify that everything in the global namespace is prefixed with a plugin specific prefix.
         Multiple valid prefixes can be provided as a comma-delimited list. -->
    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
        <properties>
            <property name="prefixes" type="array" value="wpseo,yoast"/>
        </properties>

        <!-- Valid usage: For testing purposes, some WP native constants/variables are being overruled. -->
        <exclude-pattern>/tests/bootstrap\.php</exclude-pattern>
    </rule>

    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array" value="wordpress-seo,default"/>
        </properties>
    </rule>

    <rule ref="PHPCompatibility.PHP.NewFunctionParameters.http_build_query_enc_typeFound">
        <!-- Correct usage: Work around in place for pre-PHP 5.4. -->
        <exclude-pattern>/inc/sitemaps/class-sitemap-renderer\.php</exclude-pattern>
    </rule>

    <rule ref="WordPress.NamingConventions.ValidVariableName">
        <properties>
            <property name="customPropertiesWhitelist" type="array" value="pageUrl,responseCode,siteEntry,siteUrl,countPerTypes,urlCrawlErrorSample"/>
        </properties>
    </rule>


    <rule ref="WordPress-Docs">
        <exclude-pattern>tests/*</exclude-pattern>
    </rule>

<!-- Free: currently would give 24 issues in the test suite. (warnings) -->
<!-- And two in the plugin - see proposal commit -->
    <rule ref="Generic.Files.OneClassPerFile">
        <exclude-pattern>tests/*</exclude-pattern>
    </rule>

</ruleset>
